/* CSS Document */



body{

margin:0;

padding:0;

font-family: "‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";

font-size: 12px;

text-align:center;

background-color: #000000;

line-height: 18px;

}

img,div,table,tr,td,ul,li{

border:0;

}

img,h1,h2,h3,ul,li,dd,dl,dt{

padding:0;

margin:0;

list-style-type : none;

}

p,span,li{

font-family: "‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3";

font-size: 12px;

padding:0;

margin:0;

color:#bdbdbd;

}

.hidden {

display:none;

left: -9999px;

}

a:link{color:#2d7ba8;text-decoration:underline;}

a:visited{color:#2d7ba8;text-decoration:underline;}

a:active{color:#2d7ba8;text-decoration:underline;}

a:hover{color:#2d7ba8;text-decoration:none;}



#op-flash{
	width:auto;
	height:auto;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #000;
}

#op-flash-btn{

	width:800px;

	height:auto;

	margin-top: 0px;

	margin-right: auto;

	margin-bottom: 0;

	margin-left: auto;

	text-align: right;

}

